.sttabs {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    font-weight: 300
}

.sttabs nav {
    text-align: center
}

.sttabs nav ul {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    margin: 0 auto;
    padding: 0;
    font-family: Poppins, sans-serif;
    list-style: none;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center
}

.sttabs nav ul li {
    position: relative;
    z-index: 1;
    display: block;
    margin: 0;
    text-align: center;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.sttabs nav a {
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 2.5
}

.sttabs nav a span {
    vertical-align: middle;
    font-wight: 500;
    font-size: 14px;
    font-family: Rubik, sans-serif
}

.sttabs nav a:focus {
    outline: 0
}

.sttabs nav li.tab-current a {
    color: #f44336
}

.tabs-style-bar nav ul li a {
    margin: 0 2px;
    background-color: #f7fafc;
    color: #686868;
    padding: 5px 0;
    transition: background-color .2s, color .2s
}

.tabs-style-bar nav ul li a:focus,
.tabs-style-bar nav ul li a:hover {
    color: #f44336
}

.tabs-style-bar nav ul li a span {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
    font-family: Poppins, sans-serif
}

.tabs-style-bar nav ul li.tab-current a {
    background: #fb9678;
    color: #fff
}


@media screen and (max-width:58em) {
    .sttabs nav a span {
        display: none
    }
    .sttabs nav a:before {
        margin-right: 0
    }
}


.sttabs {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    font-weight: 300
}

.manage-users .tabs-style-iconbox nav ul li a.sticon:before {
    margin-bottom: 15px
}

.tabs-style-iconbox .sticon::before {
    display: block;
    margin: 0 0 .25em
}

.tabs-style-iconfall nav li.tab-current .sticon::before {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.tabs-style-iconfall .sticon::before {
    display: block;
    margin: 0 0 .35em;
    opacity: 0;
    font-size: 24px;
    -webkit-transition: -webkit-transform .2s, opacity .2s;
    transition: transform .2s, opacity .2s;
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
    pointer-events: none
}


@media screen and (max-width:58em) {
    .tabs-style-iconfall nav li .sticon::before {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

.tabs-style-circle .sticon::before {
    display: block;
    margin: 0;
    pointer-events: none
}

.tabs-style-circle nav li.tab-current .sticon::before {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0)
}

.manage-users .tabs-style-iconbox nav ul li a.sticon:before {
    margin-bottom: 15px
}
.sticon::before {
    display: inline-block;
    margin: 0 .4em 0 0;
    vertical-align: middle;
    font-size: 20px;
    speak: none;
    -webkit-backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.ti-home:before {
    content: "\e69b"
}

.ti-trash:before {
    content: "\e605"
}

.ti-stats-up:before {
    content: "\e673"
}

.ti-upload:before {
    content: "\e66b"
}
.ti-settings:before {
    content: "\e60f"
}

.content-wrapper .nicescroll-rails {
    display: none!important
}

.content-wrap {
    background: #fff
}
.tabs-style-shape .content-wrap {
    background: #f7fafc
}

.tabs-style-flip .content-wrap {
    background: #f7fafc
}

.tabs-style-circlefill .content-wrap {
    border-top: 1px solid #f44336
}

.content-wrap {
    position: relative
}

.content-wrap section {
    display: none;
    margin: 0 auto;
    padding: 25px;
    min-height: 150px
}

.content-wrap section p {
    margin: 0;
    padding: .75em 0
}

.content-wrap section.content-current {
    display: block
}

.no-js .content-wrap section {
    display: block;
    padding-bottom: 2em;
    border-bottom: 1px solid rgba(255, 255, 255, .6)
}






table td, table th{
        padding: 1px 3px;
    }
    .tabular td, .tabular th{
        border-bottom: 2px solid #b3b3b3;
        line-height: 18px;
    }
    .rut_Agregado, .rut_Asignado, .rut_Procesando, .rut_Pausado, .rut_Aprobacion, .rut_Terminado{
        padding: 0px 1px;
        margin: 1px;
        font-size: 11px;
        border-radius: 2px 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px;
        display: inline-block;
        width: 36px;
    }
        
    .tablero_listas{
        position: absolute;
        top: 250px;
        left: 10px;
        width: 2500px;
        padding-bottom: 50px;
    }
    .tablero_listas div{
        position: absolute;
        top: 0px;
    }
    .tablero_listas ul{
        clear: both;
        display: block;
        height: 24px;
        overflow: hidden;
        /*background: url(/html/img/un_dia.png);*/
    }
    .tablero_listas li{
        float: left;
        overflow: hidden;
        font-size: 10px;
        height: 22px;
    }
    .tiempos .no_sortable{
        font-weight: 700;
    }
    .tiempos li{
        height: 24px;
    }
    .no_sortable{
        width: 98px;
        cursor: pointer;
        padding-left: 3px;
    }
    .no_sortable:hover{
        background-color: #cccccc;
    }
    .line_Agregado, .line_Procesando, .line_Asignado, .line_Pausado, .no_sortable{
        border: 1px solid #ffffff;
        color: #000000;
    }
    .line_Agregado{
        background: #d5d5d5;
    }
    .line_Procesando{
        background: #c5d09a;
    }
    .line_Asignado, .line_Pausado{
        background: #c5d09a;
    }
    .ui-sortable li{
        cursor: pointer;
    }
    .ui-sortable li:active{
        cursor: move;
    }
    .ui-sortable .line_Agregado:active, .ui-sortable .line_Agregado:hover,
    .ui-sortable .line_Procesando:active, .ui-sortable .line_Procesando:hover,
    .ui-sortable .line_Asignado:active, .ui-sortable .line_Pausado:active,
    .ui-sortable .line_Asignado:hover, .ui-sortable .line_Pausado:hover{
        border: 1px solid #888888;
    }
    .ui-sortable .no_sortable:hover, .ui-sortable .no_sortable:active{
        border: 1px solid #ffffff;
        cursor: default;
    }
    .ui-sortable .line_Agregado:active, .ui-sortable .line_Agregado:hover{
        background-color: #aaaaaa;
    }
    .ui-sortable .line_Procesando:active, .ui-sortable .line_Procesando:hover{
        background-color: #7CB26B;
    }
    .ui-sortable .line_Asignado:active, .ui-sortable .line_Pausado:active,
    .ui-sortable .line_Asignado:hover, .ui-sortable .line_Pausado:hover{
        background-color: #7795B2;
    }
    .tiempos li{
        color: #000;
        background: url(/html/img/line_titulo.png);
    }
    .posicion_fix .no_sortable{
        background: #dddddd;
        overflow: hidden;
    }
    .posicion_fix span:hover{
        text-decoration: underline;
    }
    
    
    input.btn_bonito{
        float: right;
        margin-top: 10px;
        border: none;
        color: #555555;
        font: bold 12px "helvetica neue", helvetica, arial, sans-serif;
        line-height: 1;
        text-align: left;
        width: 100px;
        height: 45px;
        cursor: pointer;
        background: url('/html/img/flecha-inicio.png') repeat-x;
    }
    input.btn_bonito:hover{
        color: #333333;
        background: url('/html/img/flecha-inicio.png') repeat-x;
    }


.white-box {
    background: #fff;
    padding: 25px;
    margin-bottom: 30px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1)
}

.white-box .box-title {
    margin: 0 0 12px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px
}
.el-element-overlay .white-box {
    padding: 0
}

.text-muted {
    color: #8d9ea7
}
.m-b-30 {
    margin-bottom: 30px!important
}
.vtabs {
    display: table
}

.vtabs .tabs-vertical {
    width: 150px;
    border-right: 1px solid rgba(120, 130, 140, .13);
    display: table-cell;
    vertical-align: top
}

.vtabs .tabs-vertical li a {
    color: #313131;
    margin-bottom: 10px
}

.vtabs .tab-content {
    display: table-cell;
    padding: 20px;
    vertical-align: top
}

@media (max-width:480px) {
    .vtabs .tabs-vertical {
        width: auto
    }
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background: rgba(255, 255, 255, .2)
}

.manage-users .tabs-style-iconbox nav {
    background: #1e88e5
}

.manage-users .tabs-style-iconbox nav ul li a {
    color: rgba(255, 255, 255, .6);
    text-transform: uppercase
}

.manage-users .tabs-style-iconbox nav ul li a.sticon:before {
    margin-bottom: 15px
}

.manage-users .tabs-style-iconbox nav ul li.tab-current a {
    box-shadow: none
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: none!important
}

.sidebar .nav-second-level li a {
    padding: 14px 10px 14px 20px
}

.sidebar:hover .nav-second-level li a {
    padding-left: 30px
}

.sidebar .nav-third-level li a {
    padding-left: 20px
}

.sidebar:hover .nav-third-level li a {
    padding-left: 40px
}


.sttabs nav {
    text-align: center
}

.sttabs nav ul {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    margin: 0 auto;
    padding: 0;
    font-family: Poppins, sans-serif;
    list-style: none;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center
}

.sttabs nav ul li {
    position: relative;
    z-index: 1;
    display: block;
    margin: 0;
    text-align: center;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.sttabs nav a {
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 2.5
}

.sttabs nav a span {
    vertical-align: middle;
    font-wight: 500;
    font-size: 14px;
    font-family: Rubik, sans-serif
}

.sttabs nav a:focus {
    outline: 0
}

.sttabs nav li.tab-current a {
    color: #f44336
}

.tabs-style-bar nav ul li a {
    margin: 0 2px;
    background-color: #f7fafc;
    color: #686868;
    padding: 5px 0;
    transition: background-color .2s, color .2s
}

.tabs-style-bar nav ul li a:focus,
.tabs-style-bar nav ul li a:hover {
    color: #f44336
}


.tabs-style-bar nav ul li.tab-current a {
    background: #fb9678;
    color: #fff
}

.tabs-style-iconbox nav {
    background: #f7fafc
}

.tabs-style-iconbox nav ul li a {
    overflow: visible;
    padding: 25px 0;
    line-height: 1;
    -webkit-transition: color .2s;
    transition: color .2s;
    color: #313131
}

.tabs-style-iconbox nav ul li.tab-current {
    z-index: 1
}

.tabs-style-iconbox nav ul li.tab-current a {
    background: #1e88e5;
    color: #fff;
    box-shadow: -1px 0 0 #fff
}

.tabs-style-iconbox nav ul li.tab-current a::after {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border: solid transparent;
    border-width: 10px;
    border-top-color: #1e88e5;
    content: '';
    pointer-events: none
}

.tabs-style-iconbox nav ul li::after,
.tabs-style-iconbox nav ul li:first-child::before {
    position: absolute;
    top: 20%;
    right: 0;
    z-index: -1;
    width: 1px;
    height: 60%;
    content: ''
}

.tabs-style-iconbox nav ul li:first-child::before {
    right: auto;
    left: 0
}


.tabs-style-underline nav {
    border: 1px solid rgba(120, 130, 140, .13)
}

.tabs-style-underline nav a {
    padding: 20px 0;
    border-left: 1px solid rgba(120, 130, 140, .13);
    -webkit-transition: color .2s;
    transition: color .2s;
    color: #313131
}

.tabs-style-underline nav li:last-child a {
    border-right: 1px solid rgba(120, 130, 140, .13)
}

.tabs-style-underline nav li a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background: #fb9678;
    content: '';
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
    -webkit-transform: translate3d(0, 150%, 0);
    transform: translate3d(0, 150%, 0)
}

.tabs-style-underline nav li.tab-current a::after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.tabs-style-linetriangle nav a {
    overflow: visible;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    -webkit-transition: color .2s;
    transition: color .2s
}

.tabs-style-linetriangle nav a span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    padding: 15px 0;
    color: #313131
}

.tabs-style-linetriangle nav li.tab-current a:after,
.tabs-style-linetriangle nav li.tab-current a:before {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    border: solid transparent;
    content: '';
    pointer-events: none
}

.tabs-style-linetriangle nav li.tab-current a:after {
    margin-left: -10px;
    border-width: 10px;
    border-top-color: #fff
}

.tabs-style-linetriangle nav li.tab-current a span {
    color: #f44336
}

.tabs-style-linetriangle nav li.tab-current a:before {
    margin-left: -11px;
    border-width: 11px;
    border-top-color: rgba(0, 0, 0, .2)
}


.tabs-style-iconfall nav {
    max-width: 1200px;
    margin: 0 auto
}

.tabs-style-iconfall nav a {
    display: inline-block;
    overflow: visible;
    padding: 1em 0 2em;
    color: #313131;
    line-height: 1;
    -webkit-transition: color .3s cubic-bezier(.7, 0, .3, 1);
    transition: color .3s cubic-bezier(.7, 0, .3, 1)
}

.tabs-style-iconfall nav a:focus,
.tabs-style-iconfall nav a:hover,
.tabs-style-iconfall nav li.tab-current a {
    color: #f44336
}

.tabs-style-iconfall nav li::before {
    position: absolute;
    bottom: 1em;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 4px;
    background: #f44336;
    content: '';
    opacity: 0;
    -webkit-transition: -webkit-transform .2s ease-in;
    transition: transform .2s ease-in;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1)
}

.tabs-style-iconfall nav li.tab-current::before {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
}

.tabs-style-iconfall nav li.tab-current .sticon::before {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

@media screen and (max-width:58em) {
    .tabs-style-iconfall nav li .sticon::before {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

.tabs-style-linemove nav {
    background: #f7fafc
}

.tabs-style-linemove nav li:last-child::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: #f44336;
    content: '';
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s
}

.tabs-style-linemove nav li:first-child.tab-current~li:last-child::before {
    -webkit-transform: translate3d(-400%, 0, 0);
    transform: translate3d(-400%, 0, 0)
}

.tabs-style-linemove nav li:nth-child(2).tab-current~li:last-child::before {
    -webkit-transform: translate3d(-300%, 0, 0);
    transform: translate3d(-300%, 0, 0)
}

.tabs-style-linemove nav li:nth-child(3).tab-current~li:last-child::before {
    -webkit-transform: translate3d(-200%, 0, 0);
    transform: translate3d(-200%, 0, 0)
}

.tabs-style-linemove nav li:nth-child(4).tab-current~li:last-child::before {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0)
}

.tabs-style-linemove nav a {
    padding: 30px 0;
    color: #313131;
    line-height: 1;
    -webkit-transition: color .3s, -webkit-transform .3s;
    transition: color .3s, transform .3s
}

.tabs-style-linemove nav li.tab-current a {
    color: #f44336
}

.tabs-style-line nav a {
    padding: 20px 10px;
    box-shadow: inset 0 -2px #d1d3d2;
    color: #686868;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1;
    -webkit-transition: color .3s, box-shadow .3s;
    transition: color .3s, box-shadow .3s
}

.tabs-style-line nav a:focus,
.tabs-style-line nav a:hover {
    box-shadow: inset 0 -2px #74777b
}

.tabs-style-line nav li.tab-current a {
    box-shadow: inset 0 -2px #f44336;
    color: #f44336
}

@media screen and (max-width:58em) {
    .tabs-style-line nav ul {
        display: block;
        box-shadow: none
    }
    .tabs-style-line nav ul li {
        display: block;
        -webkit-flex: none;
        flex: none
    }
}

.tabs-style-circle nav li {
    margin-top: 60px!important;
    margin-bottom: 60px!important
}

.tabs-style-circle nav li::before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -60px 0 0 -60px;
    width: 120px;
    height: 120px;
    border: 1px solid #fb9678;
    border-radius: 50%;
    content: '';
    opacity: 0;
    -webkit-transition: -webkit-transform .2s, opacity .2s;
    transition: transform .2s, opacity .2s;
    -webkit-transition-timing-function: cubic-bezier(.7, 0, .3, 1);
    transition-timing-function: cubic-bezier(.7, 0, .3, 1)
}

.tabs-style-circle nav a {
    overflow: visible;
    color: #2b2b2b;
    font-weight: 500;
    font-size: 14;
    line-height: 1.1;
    -webkit-transition: color .3s cubic-bezier(.7, 0, .3, 1);
    transition: color .3s cubic-bezier(.7, 0, .3, 1)
}

.tabs-style-circle nav a span {
    display: inline-block
}

.tabs-style-circle nav a:focus,
.tabs-style-circle nav a:hover,
.tabs-style-circle nav li.tab-current a {
    color: #f44336
}

.tabs-style-circle nav li.tab-current a span {
    -webkit-transform: translate3d(0, 4px, 0);
    transform: translate3d(0, 4px, 0)
}

@media screen and (max-width:58em) {
    .tabs-style-circle nav li::before {
        margin: -40px 0 0 -40px;
        width: 80px;
        height: 80px
    }
}

.tabs-style-circle nav li.tab-current::before {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
}

.tabs-style-circle .icon::before,
.tabs-style-circle nav a span {
    -webkit-transition: -webkit-transform .3s cubic-bezier(.7, 0, .3, 1);
    transition: transform .3s cubic-bezier(.7, 0, .3, 1)
}


.tabs-style-circle nav li.tab-current .sticon::before {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0)
}


.tabs-style-shape nav ul li {
    margin: 0 3em
}

.tabs-style-shape nav ul li:first-child {
    margin-left: 0
}

.tabs-style-shape nav ul li.tab-current {
    z-index: 1
}

.tabs-style-shape nav li a {
    overflow: visible;
    margin: 0 -3em 0 0;
    padding: 0;
    color: #fff;
    font-weight: 500
}

.tabs-style-shape nav li a svg {
    position: absolute;
    left: 100%;
    margin: 0;
    width: 3em;
    height: 100%;
    fill: #bdc2c9
}

.tabs-style-shape nav li:first-child a span {
    padding-left: 2em;
    border-radius: 30px 0 0
}

.tabs-style-shape nav li:last-child a span {
    padding-right: 2em;
    border-radius: 0 30px 0 0
}

.tabs-style-shape nav li a svg:nth-child(2),
.tabs-style-shape nav li:last-child a svg {
    right: 100%;
    left: auto;
    -webkit-transform: scale3d(-1, 1, 1);
    transform: scale3d(-1, 1, 1)
}

.tabs-style-shape nav li a span {
    display: block;
    overflow: hidden;
    padding: .65em 0;
    background-color: #bdc2c9;
    text-overflow: ellipsis;
    white-space: nowrap
}

.tabs-style-shape nav li a:hover span {
    background-color: #f44336
}

.tabs-style-shape nav li a:hover svg {
    fill: #f44336
}

.tabs-style-shape nav li a svg {
    pointer-events: none
}

.tabs-style-shape nav li a svg use {
    pointer-events: auto
}

.tabs-style-shape nav li.tab-current a span,
.tabs-style-shape nav li.tab-current a svg {
    -webkit-transition: none;
    transition: none
}

.tabs-style-shape nav li.tab-current a span {
    background: #f7fafc
}

.tabs-style-shape nav li.tab-current a svg {
    fill: #f7fafc
}


@media screen and (max-width:58em) {
    .tabs-style-shape nav ul {
        display: block;
        padding-top: 1.5em
    }
    .tabs-style-shape nav ul li {
        display: block;
        margin: -1.25em 0 0;
        -webkit-flex: none;
        flex: none
    }
    .tabs-style-shape nav ul li a {
        margin: 0
    }
    .tabs-style-shape nav ul li svg {
        display: none
    }
    .tabs-style-shape nav ul li a span {
        padding: 1.25em 0 2em!important;
        border-radius: 30px 30px 0 0!important;
        box-shadow: 0 -1px 2px rgba(0, 0, 0, .1);
        line-height: 1
    }
    .tabs-style-shape nav ul li:last-child a span {
        padding: 1.25em 0!important
    }
    .tabs-style-shape nav ul li.tab-current {
        z-index: 1
    }
}

.tabs-style-linebox nav ul li {
    margin: 0 .5em;
    -webkit-flex: none;
    flex: none
}

.tabs-style-linebox nav a {
    padding: 0 1.5em;
    color: #313131;
    font-weight: 500;
    -webkit-transition: color .3s;
    transition: color .3s
}

.tabs-style-linebox nav a:focus,
.tabs-style-linebox nav a:hover {
    color: #f44336
}

.tabs-style-linebox nav li.tab-current a {
    color: #fff
}

.tabs-style-linebox nav a::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #d2d8d6;
    content: '';
    -webkit-transition: background-color .3s, -webkit-transform .3s;
    transition: background-color .3s, transform .3s;
    -webkit-transition-timing-function: ease, cubic-bezier(.7, 0, .3, 1);
    transition-timing-function: ease, cubic-bezier(.7, 0, .3, 1);
    -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0);
    transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0)
}

.tabs-style-linebox nav li.tab-current a::after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.tabs-style-linebox nav a:focus::after,
.tabs-style-linebox nav a:hover::after,
.tabs-style-linebox nav li.tab-current a::after {
    background: #f44336
}

@media screen and (max-width:58em) {
    .tabs-style-linebox nav ul {
        display: block;
        box-shadow: none
    }
    .tabs-style-linebox nav ul li {
        display: block;
        -webkit-flex: none;
        flex: none
    }
}

.tabs-style-flip nav a {
    padding: .5em 0;
    color: #313131;
    -webkit-transition: color .3s;
    transition: color .3s
}

.tabs-style-flip nav a:focus,
.tabs-style-flip nav a:hover {
    color: #f44336
}

.tabs-style-flip nav a span {
    text-transform: uppercase;
    letter-spacing: 1px
}

.tabs-style-flip nav a::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    content: '';
    -webkit-transition: -webkit-transform .3s, background-color .3s;
    transition: transform .3s, background-color .3s;
    -webkit-transform: perspective(900px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(900px) rotate3d(1, 0, 0, 90deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-perspective-origin: 50% 100%;
    perspective-origin: 50% 100%
}

.tabs-style-flip nav li.tab-current a {
    color: #f44336
}

.tabs-style-flip nav li.tab-current a::after {
    background-color: #f7fafc;
    -webkit-transform: perspective(900px) rotate3d(1, 0, 0, 0deg);
    transform: perspective(900px) rotate3d(1, 0, 0, 0deg)
}


.tabs-style-circlefill nav ul li {
    overflow: hidden;
    border-right: 1px solid #f44336
}

.tabs-style-circlefill nav li a {
    padding: 1.5em 0;
    color: #fff;
    font-size: 1.25em
}

.tabs-style-circlefill nav li:first-child {
    border-left: none
}

.tabs-style-circlefill nav li:last-child {
    border: none
}

.tabs-style-circlefill nav li::before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -40px;
    width: 80px;
    height: 80px;
    border: 1px solid #f44336;
    border-radius: 50%;
    background: #f44336;
    content: '';
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s
}

.tabs-style-circlefill nav li.tab-current::before {
    -webkit-transform: scale3d(2.5, 2.5, 1);
    transform: scale3d(2.5, 2.5, 1)
}

.tabs-style-circlefill nav a {
    -webkit-transition: color .3s;
    transition: color .3s
}

.tabs-style-circlefill nav a span {
    display: none
}

.tabs-style-circlefill nav li.tab-current a {
    color: #fff
}


.no-flexbox nav ul {
    display: block
}

.no-flexbox nav ul li {
    min-width: 15%;
    display: inline-block
}

@media screen and (max-width:58em) {
    .sttabs nav a span {
        display: none
    }
    .sttabs nav a:before {
        margin-right: 0
    }
}


.tabs-vertical li.active a,
.tabs-vertical li.active a:focus,
.tabs-vertical li.active a:hover {
    background: #2cabe3;
    border: 0;
    border-right: 2px solid #2cabe3;
    margin-right: -1px;
    color: #fff
}

.customvtab .tabs-vertical li.active a,
.customvtab .tabs-vertical li.active a:focus,
.customvtab .tabs-vertical li.active a:hover {
    background: #fff;
    border: 0;
    border-right: 2px solid #2cabe3;
    margin-right: -1px;
    color: #313131
}

.tab-content {
    margin-top: 30px
}

@media (min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 60px
    }
    .navbar-default {
        position: relative;
        width: 100%;
        top: 0
    }
    .sidebar {
        z-index: 1001;
        position: fixed;
        width: 60px;
        padding-top: 0;
        height: 100%;
        transition: .05s ease-in
    }
    .sidebar:hover {
        width: 240px
    }
    .navbar-static-top {
        padding-left: 60px
    }
    .fix-header .navbar-static-top {
        position: fixed
    }
    .fix-header #page-wrapper {
        margin-top: 60px
    }
}

.navbar-top-links .dropdown-alerts,
.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks {
    margin-left: auto
}


@media (max-width:767px) {
    .navbar-top-links {
        float: left
    }
    .navbar-top-links .profile-pic img {
        margin-right: 0
    }
    .top-left-part {
        width: 60px
    }
    .navbar-top-links>li:last-child {
        margin-right: 0
    }
    .navbar-top-links>li>a {
        padding: 0 12px
    }
    .navbar-top-links .dropdown-alerts,
    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks {
        width: 260px
    }
    .show-sidebar .sidebar {
        width: 240px;
        top: 0
    }
    .show-sidebar .sidebar .hide-menu {
        display: inline
    }
    .show-sidebar .sidebar .nav-small-cap {
        display: block
    }
    .show-sidebar .sidebar .sidebar-head {
        width: 240px;
        display: block
    }
    .sidebar {
        z-index: 1001;
        position: fixed;
        width: 0;
        padding-top: 0;
        height: 100%
    }
    .sidebar-head {
        width: 0;
        display: none
    }
    #page-wrapper {
        margin: 0
    }
    .row-in-br {
        border-right: 0;
        border-bottom: 1px solid rgba(120, 130, 140, .13)
    }
    .bg-title .breadcrumb {
        float: left;
        margin-top: 0;
        margin-bottom: 10px
    }
    ul.timeline:before {
        left: 40px
    }
    ul.timeline>li>.timeline-panel {
        width: calc(100% - 90px)
    }
    ul.timeline>li>.timeline-badge {
        top: 16px;
        left: 15px;
        margin-left: 0
    }
    ul.timeline>li>.timeline-panel {
        float: right
    }
    ul.timeline>li>.timeline-panel:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0
    }
    ul.timeline>li>.timeline-panel:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0
    }
    .wizard-steps>li {
        display: block
    }
    .dropdown .dropdown-tasks,
    .dropdown .mailbox {
        left: -94px
    }
    .fix-header .navbar-static-top {
        position: fixed;
        top: 0;
        width: 100%
    }
    .fix-header #page-wrapper {
        margin-top: 60px
    }
    .mega-dropdown-menu {
        height: 340px;
        overflow: auto
    }
    .left-aside {
        position: relative;
        width: 100%;
        border: 0
    }
    .right-aside {
        margin-left: 0
    }
    .chat-main-box .chat-left-aside {
        left: -250px;
        transition: .5s ease-in;
        background: #fff
    }
    .chat-main-box .chat-left-aside.open-pnl {
        left: 0
    }
    .chat-main-box .chat-left-aside .open-panel {
        display: block
    }
    .chat-main-box .chat-right-aside {
        margin: 0
    }
    .table-responsive.pro-rd {
        border: none
    }
    #msform fieldset,
    .login-register,
    .step-register {
        position: relative
    }
    .mega-dropdown-menu {
        padding-left: 20px
    }
    .calendar-widget .cal-left {
        position: relative;
        width: 100%
    }
    .calendar-widget .cal-left .cal-btm-text {
        position: relative;
        bottom: 0;
        padding-top: 30px
    }
    .calendar-widget .cal-right {
        width: 100%
    }
    .calendar-widget .cal-right .cal-table td {
        padding: 15px 0
    }
    .calendar-widget .cal-right .cal-table td h1 {
        padding-left: 20px
    }
    .error-body h1 {
        font-size: 80px;
        line-height: 100px
    }
    .weather-with-bg .wt-top .wt-img h1 {
        font-size: 24px;
        line-height: 24px
    }
    .manage-table {
        margin: 0
    }
    .dp-table img {
        width: 50px
    }
    .earning-box li .er-row .er-text {
        width: 37%
    }
    .earning-box li .er-row .er-count {
        font-size: 24px
    }
    .sidebar .nav-second-level li a,
    .sidebar:hover .nav-second-level li a {
        padding-left: 40px
    }
    .sidebar .nav-third-level li a,
    .sidebar:hover .nav-third-level li a {
        padding-left: 60px
    }
}


.navbar-top-links .progress {
    margin-bottom: 6px
}

.nav-tabs>li>a {
    border-radius: 0;
    color: #313131
}

.nav-tabs>li>a:focus,
.nav-tabs>li>a:hover {
    background: #fff
}


.navbar-header {
    width: 100%;
    background: #3c4451;
    border: 0
}

.navbar-default {
    border: 0
}

.navbar-top-links {
    margin-right: 0
}

.navbar-top-links .badge {
    position: absolute;
    right: 6px;
    top: 15px
}

.navbar-top-links>li {
    float: left
}

.navbar-top-links>li>a {
    color: #fff;
    padding: 0 14px;
    line-height: 60px;
    min-height: 60px
}

.navbar-top-links>li>a:hover {
    background: rgba(0, 0, 0, .1)
}

.navbar-top-links>li>a:focus {
    background: rgba(0, 0, 0, 0)
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background: rgba(255, 255, 255, .2)
}

.navbar-top-links .dropdown-menu li {
    display: block
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal
}

.navbar-top-links .dropdown-alerts,
.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks {
    width: 310px;
    min-width: 0
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
    width: 280px
}

.navbar-top-links .dropdown-user .dw-user-box {
    padding: 15px
}

.navbar-top-links .dropdown-user .dw-user-box .u-img {
    width: 80px;
    display: inline-block;
    vertical-align: top
}

.navbar-top-links .dropdown-user .dw-user-box .u-img img {
    width: 100%;
    border-radius: 5px
}

.navbar-top-links .dropdown-user .dw-user-box .u-text {
    display: inline-block;
    padding-left: 10px
}

.navbar-top-links .dropdown-user .dw-user-box .u-text h4 {
    margin: 0
}

.navbar-top-links .dropdown-user .dw-user-box .u-text p {
    margin-bottom: 3px
}

.navbar-header .navbar-toggle {
    float: none;
    padding: 0 15px;
    line-height: 60px;
    border: 0;
    color: rgba(255, 255, 255, .5);
    margin: 0;
    display: inline-block;
    border-radius: 0
}

.navbar-header .navbar-toggle:focus,
.navbar-header .navbar-toggle:hover {
    background: rgba(0, 0, 0, .3);
    color: #fff
}


.nav-small-cap {
    color: #a6afbb;
    cursor: default;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .035em;
    padding: 12px 15px!important;
    pointer-events: none;
    margin: 20px 0 0 -15px
}


.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    background: #2cabe3;
    color: #fff
}

.nav-pills>li>a {
    color: #313131;
    border-radius: 0
}

.nav-pills-rounded li {
    display: inline-block;
    float: none
}

.nav-pills-rounded li a {
    border-radius: 60px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    color: #313131;
    padding: 10px 25px
}

.nav-pills-rounded li.active a,
.nav-pills-rounded li.active a:focus,
.nav-pills-rounded li.active a:hover {
    background: #2cabe3;
    color: #fff
}

.manage-users .tabs-style-iconbox nav {
    background: #1e88e5
}




.sidebar .sidebar-nav.navbar-collapse {
    padding-left: 0;
    padding-right: 0
}


.sidebar .hide-menu,
.sidebar .nav-small-cap {
    display: none
}

.sidebar:hover .nav-small-cap {
    display: block
}
.sidebar #side-menu .user-pro .nav-second-level li i {
    margin-right: 10px
}
.sidebar .nav-second-level .arrow {
    right: 20px;
    top: 17px
}
.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: none!important
}

.sidebar .nav-second-level li a {
    padding: 14px 10px 14px 20px
}

.sidebar:hover .nav-second-level li a {
    padding-left: 30px
}

.sidebar .nav-third-level li a {
    padding-left: 20px
}

.sidebar:hover .nav-third-level li a {
    padding-left: 40px
}

.sttabs nav {
    text-align: center
}

.sttabs nav ul {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    margin: 0 auto;
    padding: 0;
    font-family: Poppins, sans-serif;
    list-style: none;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center
}


.fa-bars:before,
.fa-navicon:before,
.fa-reorder:before {
    content: "\f0c9"
}

.sttabs nav ul li {
    position: relative;
    z-index: 1;
    display: block;
    margin: 0;
    text-align: center;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.sttabs nav a {
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 2.5
}

.sttabs nav a span {
    vertical-align: middle;
    font-wight: 500;
    font-size: 14px;
    font-family: Rubik, sans-serif
}

.sttabs nav a:focus {
    outline: 0
}

.sttabs nav li.tab-current a {
    color: #f44336
}

.tabs-style-bar nav ul li a {
    margin: 0 2px;
    background-color: #f7fafc;
    color: #686868;
    padding: 5px 0;
    transition: background-color .2s, color .2s
}

.tabs-style-bar nav ul li a:focus,
.tabs-style-bar nav ul li a:hover {
    color: #f44336
}

.tabs-style-bar nav ul li.tab-current a {
    background: #fb9678;
    color: #fff
}

.tabs-style-iconbox nav {
    background: #f7fafc
}

.tabs-style-iconbox nav ul li a {
    overflow: visible;
    padding: 25px 0;
    line-height: 1;
    -webkit-transition: color .2s;
    transition: color .2s;
    color: #313131
}

.tabs-style-iconbox nav ul li.tab-current {
    z-index: 1
}

.tabs-style-iconbox nav ul li.tab-current a {
    background: #1e88e5;
    color: #fff;
    box-shadow: -1px 0 0 #fff
}


.tabs-style-iconbox nav ul li.tab-current a::after {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border: solid transparent;
    border-width: 10px;
    border-top-color: #1e88e5;
    content: '';
    pointer-events: none
}

.tabs-style-iconbox nav ul li::after,
.tabs-style-iconbox nav ul li:first-child::before {
    position: absolute;
    top: 20%;
    right: 0;
    z-index: -1;
    width: 1px;
    height: 60%;
    content: ''
}

.tabs-style-iconbox nav ul li:first-child::before {
    right: auto;
    left: 0
}

.tabs-style-iconbox .sticon::before {
    display: block;
    margin: 0 0 .25em
}

.tabs-style-underline nav {
    border: 1px solid rgba(120, 130, 140, .13)
}

.tabs-style-underline nav a {
    padding: 20px 0;
    border-left: 1px solid rgba(120, 130, 140, .13);
    -webkit-transition: color .2s;
    transition: color .2s;
    color: #313131
}

.tabs-style-underline nav li:last-child a {
    border-right: 1px solid rgba(120, 130, 140, .13)
}

.tabs-style-underline nav li a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background: #fb9678;
    content: '';
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
    -webkit-transform: translate3d(0, 150%, 0);
    transform: translate3d(0, 150%, 0)
}

.tabs-style-underline nav li.tab-current a::after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.tabs-style-linetriangle nav a {
    overflow: visible;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    -webkit-transition: color .2s;
    transition: color .2s
}

.tabs-style-linetriangle nav a span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    padding: 15px 0;
    color: #313131
}

.tabs-style-linetriangle nav li.tab-current a:after,
.tabs-style-linetriangle nav li.tab-current a:before {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    border: solid transparent;
    content: '';
    pointer-events: none
}

.tabs-style-linetriangle nav li.tab-current a:after {
    margin-left: -10px;
    border-width: 10px;
    border-top-color: #fff
}

.tabs-style-linetriangle nav li.tab-current a span {
    color: #f44336
}

.tabs-style-linetriangle nav li.tab-current a:before {
    margin-left: -11px;
    border-width: 11px;
    border-top-color: rgba(0, 0, 0, .2)
}


.tabs-style-iconfall nav {
    max-width: 1200px;
    margin: 0 auto
}

.tabs-style-iconfall nav a {
    display: inline-block;
    overflow: visible;
    padding: 1em 0 2em;
    color: #313131;
    line-height: 1;
    -webkit-transition: color .3s cubic-bezier(.7, 0, .3, 1);
    transition: color .3s cubic-bezier(.7, 0, .3, 1)
}

.tabs-style-iconfall nav a:focus,
.tabs-style-iconfall nav a:hover,
.tabs-style-iconfall nav li.tab-current a {
    color: #f44336
}

.tabs-style-iconfall nav li::before {
    position: absolute;
    bottom: 1em;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 4px;
    background: #f44336;
    content: '';
    opacity: 0;
    -webkit-transition: -webkit-transform .2s ease-in;
    transition: transform .2s ease-in;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1)
}

.tabs-style-iconfall nav li.tab-current::before {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
}

.tabs-style-iconfall nav li.tab-current .sticon::before {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

@media screen and (max-width:58em) {
    .tabs-style-iconfall nav li .sticon::before {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

.tabs-style-linemove nav {
    background: #f7fafc
}

.tabs-style-linemove nav li:last-child::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: #f44336;
    content: '';
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s
}

.tabs-style-linemove nav li:first-child.tab-current~li:last-child::before {
    -webkit-transform: translate3d(-400%, 0, 0);
    transform: translate3d(-400%, 0, 0)
}

.tabs-style-linemove nav li:nth-child(2).tab-current~li:last-child::before {
    -webkit-transform: translate3d(-300%, 0, 0);
    transform: translate3d(-300%, 0, 0)
}

.tabs-style-linemove nav li:nth-child(3).tab-current~li:last-child::before {
    -webkit-transform: translate3d(-200%, 0, 0);
    transform: translate3d(-200%, 0, 0)
}


.tabs-style-linemove nav li:nth-child(4).tab-current~li:last-child::before {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0)
}

.tabs-style-linemove nav a {
    padding: 30px 0;
    color: #313131;
    line-height: 1;
    -webkit-transition: color .3s, -webkit-transform .3s;
    transition: color .3s, transform .3s
}

.tabs-style-linemove nav li.tab-current a {
    color: #f44336
}

.tabs-style-line nav a {
    padding: 20px 10px;
    box-shadow: inset 0 -2px #d1d3d2;
    color: #686868;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1;
    -webkit-transition: color .3s, box-shadow .3s;
    transition: color .3s, box-shadow .3s
}

.tabs-style-line nav a:focus,
.tabs-style-line nav a:hover {
    box-shadow: inset 0 -2px #74777b
}

.tabs-style-line nav li.tab-current a {
    box-shadow: inset 0 -2px #f44336;
    color: #f44336
}


@media screen and (max-width:58em) {
    .tabs-style-line nav ul {
        display: block;
        box-shadow: none
    }
    .tabs-style-line nav ul li {
        display: block;
        -webkit-flex: none;
        flex: none
    }
}


.tabs-style-circle nav li {
    margin-top: 60px!important;
    margin-bottom: 60px!important
}

.tabs-style-circle nav li::before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -60px 0 0 -60px;
    width: 120px;
    height: 120px;
    border: 1px solid #fb9678;
    border-radius: 50%;
    content: '';
    opacity: 0;
    -webkit-transition: -webkit-transform .2s, opacity .2s;
    transition: transform .2s, opacity .2s;
    -webkit-transition-timing-function: cubic-bezier(.7, 0, .3, 1);
    transition-timing-function: cubic-bezier(.7, 0, .3, 1)
}

.tabs-style-circle nav a {
    overflow: visible;
    color: #2b2b2b;
    font-weight: 500;
    font-size: 14;
    line-height: 1.1;
    -webkit-transition: color .3s cubic-bezier(.7, 0, .3, 1);
    transition: color .3s cubic-bezier(.7, 0, .3, 1)
}

.tabs-style-circle nav a span {
    display: inline-block
}

.tabs-style-circle nav a:focus,
.tabs-style-circle nav a:hover,
.tabs-style-circle nav li.tab-current a {
    color: #f44336
}

.tabs-style-circle nav li.tab-current a span {
    -webkit-transform: translate3d(0, 4px, 0);
    transform: translate3d(0, 4px, 0)
}

@media screen and (max-width:58em) {
    .tabs-style-circle nav li::before {
        margin: -40px 0 0 -40px;
        width: 80px;
        height: 80px
    }
}

.tabs-style-circle nav li.tab-current::before {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
}

.tabs-style-circle .icon::before,
.tabs-style-circle nav a span {
    -webkit-transition: -webkit-transform .3s cubic-bezier(.7, 0, .3, 1);
    transition: transform .3s cubic-bezier(.7, 0, .3, 1)
}

.tabs-style-circle nav li.tab-current .sticon::before {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0)
}

.tabs-style-shape nav ul li {
    margin: 0 3em
}

.tabs-style-shape nav ul li:first-child {
    margin-left: 0
}

.tabs-style-shape nav ul li.tab-current {
    z-index: 1
}

.tabs-style-shape nav li a {
    overflow: visible;
    margin: 0 -3em 0 0;
    padding: 0;
    color: #fff;
    font-weight: 500
}

.tabs-style-shape nav li a svg {
    position: absolute;
    left: 100%;
    margin: 0;
    width: 3em;
    height: 100%;
    fill: #bdc2c9
}

.tabs-style-shape nav li:first-child a span {
    padding-left: 2em;
    border-radius: 30px 0 0
}

.tabs-style-shape nav li:last-child a span {
    padding-right: 2em;
    border-radius: 0 30px 0 0
}
.tabs-style-shape nav li a svg:nth-child(2),
.tabs-style-shape nav li:last-child a svg {
    right: 100%;
    left: auto;
    -webkit-transform: scale3d(-1, 1, 1);
    transform: scale3d(-1, 1, 1)
}

.tabs-style-shape nav li a span {
    display: block;
    overflow: hidden;
    padding: .65em 0;
    background-color: #bdc2c9;
    text-overflow: ellipsis;
    white-space: nowrap
}

.tabs-style-shape nav li a:hover span {
    background-color: #f44336
}

.tabs-style-shape nav li a:hover svg {
    fill: #f44336
}

.tabs-style-shape nav li a svg {
    pointer-events: none
}

.tabs-style-shape nav li a svg use {
    pointer-events: auto
}

.tabs-style-shape nav li.tab-current a span,
.tabs-style-shape nav li.tab-current a svg {
    -webkit-transition: none;
    transition: none
}

.tabs-style-shape nav li.tab-current a span {
    background: #f7fafc
}

.tabs-style-shape nav li.tab-current a svg {
    fill: #f7fafc
}

@media screen and (max-width:58em) {
    .tabs-style-shape nav ul {
        display: block;
        padding-top: 1.5em
    }
    .tabs-style-shape nav ul li {
        display: block;
        margin: -1.25em 0 0;
        -webkit-flex: none;
        flex: none
    }
    .tabs-style-shape nav ul li a {
        margin: 0
    }
    .tabs-style-shape nav ul li svg {
        display: none
    }
    .tabs-style-shape nav ul li a span {
        padding: 1.25em 0 2em!important;
        border-radius: 30px 30px 0 0!important;
        box-shadow: 0 -1px 2px rgba(0, 0, 0, .1);
        line-height: 1
    }
    .tabs-style-shape nav ul li:last-child a span {
        padding: 1.25em 0!important
    }
    .tabs-style-shape nav ul li.tab-current {
        z-index: 1
    }
}

.tabs-style-linebox nav ul li {
    margin: 0 .5em;
    -webkit-flex: none;
    flex: none
}

.tabs-style-linebox nav a {
    padding: 0 1.5em;
    color: #313131;
    font-weight: 500;
    -webkit-transition: color .3s;
    transition: color .3s
}

.tabs-style-linebox nav a:focus,
.tabs-style-linebox nav a:hover {
    color: #f44336
}

.tabs-style-linebox nav li.tab-current a {
    color: #fff
}

.tabs-style-linebox nav a::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #d2d8d6;
    content: '';
    -webkit-transition: background-color .3s, -webkit-transform .3s;
    transition: background-color .3s, transform .3s;
    -webkit-transition-timing-function: ease, cubic-bezier(.7, 0, .3, 1);
    transition-timing-function: ease, cubic-bezier(.7, 0, .3, 1);
    -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0);
    transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0)
}

.tabs-style-linebox nav li.tab-current a::after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.tabs-style-linebox nav a:focus::after,
.tabs-style-linebox nav a:hover::after,
.tabs-style-linebox nav li.tab-current a::after {
    background: #f44336
}

@media screen and (max-width:58em) {
    .tabs-style-linebox nav ul {
        display: block;
        box-shadow: none
    }
    .tabs-style-linebox nav ul li {
        display: block;
        -webkit-flex: none;
        flex: none
    }
}

.tabs-style-flip nav a {
    padding: .5em 0;
    color: #313131;
    -webkit-transition: color .3s;
    transition: color .3s
}

.tabs-style-flip nav a:focus,
.tabs-style-flip nav a:hover {
    color: #f44336
}

.tabs-style-flip nav a span {
    text-transform: uppercase;
    letter-spacing: 1px
}

.tabs-style-flip nav a::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    content: '';
    -webkit-transition: -webkit-transform .3s, background-color .3s;
    transition: transform .3s, background-color .3s;
    -webkit-transform: perspective(900px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(900px) rotate3d(1, 0, 0, 90deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-perspective-origin: 50% 100%;
    perspective-origin: 50% 100%
}

.tabs-style-flip nav li.tab-current a {
    color: #f44336
}

.tabs-style-flip nav li.tab-current a::after {
    background-color: #f7fafc;
    -webkit-transform: perspective(900px) rotate3d(1, 0, 0, 0deg);
    transform: perspective(900px) rotate3d(1, 0, 0, 0deg)
}


.tabs-style-circlefill nav ul li {
    overflow: hidden;
    border-right: 1px solid #f44336
}

.tabs-style-circlefill nav li a {
    padding: 1.5em 0;
    color: #fff;
    font-size: 1.25em
}

.tabs-style-circlefill nav li:first-child {
    border-left: none
}

.tabs-style-circlefill nav li:last-child {
    border: none
}

.tabs-style-circlefill nav li::before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -40px;
    width: 80px;
    height: 80px;
    border: 1px solid #f44336;
    border-radius: 50%;
    background: #f44336;
    content: '';
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s
}

.tabs-style-circlefill nav li.tab-current::before {
    -webkit-transform: scale3d(2.5, 2.5, 1);
    transform: scale3d(2.5, 2.5, 1)
}

.tabs-style-circlefill nav a {
    -webkit-transition: color .3s;
    transition: color .3s
}

.tabs-style-circlefill nav a span {
    display: none
}

.tabs-style-circlefill nav li.tab-current a {
    color: #fff
}

.no-flexbox nav ul {
    display: block
}

.no-flexbox nav ul li {
    min-width: 15%;
    display: inline-block
}

@media screen and (max-width:58em) {
    .sttabs nav a span {
        display: none
    }
    .sttabs nav a:before {
        margin-right: 0
    }
}


@media (max-width:480px) {
    .vtabs .tabs-vertical {
        width: auto
    }
    .stat-item {
        padding-right: 0
    }
    .login-box {
        width: 100%
    }
    .pro-content .pro-list-details {
        height: 100px;
        border-right: none
    }
    .pro-list-info ul.pro-info li {
        padding: 10px 0
    }
    .pro-list-info ul.pro-info {
        padding-left: 0
    }
    .pro-agent .agent-img {
        padding-top: 3px
    }
    .pro-agent .agent-name {
        padding: 2px 0 10px 15px
    }
    .new-login-register .lg-info-panel {
        display: none
    }
    .new-login-register .new-login-box {
        margin: 10% auto 0;
        width: 300px
    }
}

.vtabs .tabs-vertical {
    width: 150px;
    border-right: 1px solid rgba(120, 130, 140, .13);
    display: table-cell;
    vertical-align: top
}

.vtabs .tabs-vertical li a {
    color: #313131;
    margin-bottom: 10px
}


.tabs-vertical li.active a,
.tabs-vertical li.active a:focus,
.tabs-vertical li.active a:hover {
    background: #2cabe3;
    border: 0;
    border-right: 2px solid #2cabe3;
    margin-right: -1px;
    color: #fff
}

.customvtab .tabs-vertical li.active a,
.customvtab .tabs-vertical li.active a:focus,
.customvtab .tabs-vertical li.active a:hover {
    background: #fff;
    border: 0;
    border-right: 2px solid #2cabe3;
    margin-right: -1px;
    color: #313131
}


.vtabs .tab-content {
    display: table-cell;
    padding: 20px;
    vertical-align: top
}

.tab-content {
    margin-top: 30px
}

.tabs-vertical li.active a, 
.tabs-vertical li.active a:hover, 
.tabs-vertical li.active a:focus{
    background: #f44336;
    border-right: 2px solid #f44336;
}

.input-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5
}

.input-lg {
    height: 44px;
    padding: 5px 10px;
    font-size: 18px
}

.bootstrap-tagsinput {
    border: 1px solid #e4e7ea;
    border-radius: 0;
    box-shadow: none;
    display: block;
    padding: 7px 12px
}

.bootstrap-touchspin .input-group-btn-vertical>.btn {
    padding: 9px 10px
}

.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down,
.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-up {
    border-radius: 0
}

.input-group-btn .btn {
    padding: 8px 12px
}


.app-search .form-control::-webkit-input-placeholder {
    color: #4c5667;
    opacity: .5
}


.waves-button,
.waves-button-input,
.waves-button:hover,
.waves-button:visited {
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    outline: 0;
    color: inherit;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1em;
    line-height: 1em;
    text-align: center;
    text-decoration: none;
    z-index: 1
}

.waves-button-input {
    margin: 0;
    padding: .85em 1.1em
}

.waves-input-wrapper {
    border-radius: .2em;
    vertical-align: bottom
}

.waves-input-wrapper.waves-button {
    padding: 0
}

.waves-input-wrapper .waves-button-input {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1
}


.checkbox input[type=checkbox] {
    cursor: pointer;
    opacity: 0;
    z-index: 1;
    outline: 0!important
}

.checkbox input[type=checkbox]:disabled+label {
    opacity: .65
}

.checkbox input[type=checkbox]:focus+label::before {
    outline-offset: -2px;
    outline: 0;
    outline: dotted thin
}

.checkbox input[type=checkbox]:checked+label::after {
    content: "\f00c";
    font-family: FontAwesome
}

.checkbox input[type=checkbox]:disabled+label::before {
    background-color: #e4e7ea;
    cursor: not-allowed
}


.checkbox-primary input[type=checkbox]:checked+label::before {
    background-color: #707cd2;
    border-color: #707cd2
}

.checkbox-primary input[type=checkbox]:checked+label::after {
    color: #fff
}

.checkbox-danger input[type=checkbox]:checked+label::before {
    background-color: #f44336;
    border-color: #f44336
}

.checkbox-danger input[type=checkbox]:checked+label::after {
    color: #fff
}

.checkbox-info input[type=checkbox]:checked+label::before {
    background-color: #1e88e5;
    border-color: #1e88e5
}

.checkbox-info input[type=checkbox]:checked+label::after {
    color: #fff
}

.checkbox-warning input[type=checkbox]:checked+label::before {
    background-color: #ff9800;
    border-color: #ff9800
}

.checkbox-warning input[type=checkbox]:checked+label::after {
    color: #fff
}

.checkbox-success input[type=checkbox]:checked+label::before {
    background-color: #4caf50;
    border-color: #4caf50
}

.checkbox-success input[type=checkbox]:checked+label::after {
    color: #fff
}

.checkbox-purple input[type=checkbox]:checked+label::before {
    background-color: #707cd2;
    border-color: #707cd2
}

.checkbox-purple input[type=checkbox]:checked+label::after {
    color: #fff
}

.checkbox-red input[type=checkbox]:checked+label::before {
    background-color: #f44336;
    border-color: #f44336
}

.checkbox-red input[type=checkbox]:checked+label::after {
    color: #fff
}

.checkbox-inverse input[type=checkbox]:checked+label::before {
    background-color: #4c5667;
    border-color: #4c5667
}

.checkbox-inverse input[type=checkbox]:checked+label::after {
    color: #fff
}


.radio input[type=radio] {
    cursor: pointer;
    opacity: 0;
    z-index: 1;
    outline: 0!important
}

.radio input[type=radio]:disabled+label {
    opacity: .65
}

.radio input[type=radio]:focus+label::before {
    outline-offset: -2px;
    outline: -webkit-focus-ring-color auto 5px;
    outline: dotted thin
}

.radio input[type=radio]:checked+label::after {
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1)
}

.radio input[type=radio]:disabled+label::before {
    cursor: not-allowed
}


.btn-file>input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    font-size: 23px;
    height: 100%;
    width: 100%;
    direction: ltr;
    cursor: pointer;
    border-radius: 0
}

.get-code {
    color: #313131;
    cursor: pointer;
    border-radius: 100%;
    background: #fff;
    padding: 4px 5px;
    font-size: 10px;
    margin: 0 5px;
    vertical-align: middle
}

.fileupload input.upload {
    cursor: pointer;
    filter: alpha(opacity=0);
    font-size: 20px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0
}


.el-element-overlay .white-box {
    padding: 0
}


.white-box {
    background: #fff;
    padding: 25px;
    margin-bottom: 30px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1)
}

.white-box .box-title {
    margin: 0 0 12px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px
}

.fileupload {
    overflow: hidden;
    position: relative
}
