/*body {margin:0; padding:10px;}*/
/*#tinyeditor {border:none; margin:0; padding:0; font:14px 'Courier New',Verdana}*/
.tinyeditor {border:1px solid #bbb; padding:0 1px 1px; font-size: 13px; line-height: 20px;}
.tinyeditor iframe {border:none; overflow-x:hidden}
.tinyeditor-header {height:31px; border-bottom:1px solid #bbb; background:url(../img/te-header-bg.gif) repeat-x; padding-top:1px}
.tinyeditor-header select {float:left; margin-top:5px}
.tinyeditor-font {margin-left:12px}
.tinyeditor-size {margin:0 3px}
.tinyeditor-style {margin-right:12px}
.tinyeditor-divider {float:left; width:1px; height:30px; background:#ccc}
.tinyeditor-control {float:left; width:34px; height:30px; cursor:pointer; background-image:url(../img/te-icons.png)}
.tinyeditor-control:hover {background-position:30px 0}
.tinyeditor-footer {height:32px; border-top:1px solid #bbb; background:#f5f5f5}
.toggle {float:left; background:url(../img/te-icons.png) -34px 2px no-repeat; padding:9px 13px 0 31px; height:23px; border-right:1px solid #ccc; cursor:pointer; color:#666}
.toggle:hover {background-color:#fff}
.resize {float:right; height:32px; width:32px; background:url(../img/te-resize.gif) 15px 15px no-repeat; cursor:s-resize}
/*#editor {cursor:text; margin:10px}*/



.traba-tiny {border:1px solid #bbb; padding:0 1px 1px; font-size: 13px;}
.traba-tiny iframe {border:none; overflow-x:hidden}
.traba-tiny-header {height:31px; border-bottom:1px solid #bbb; background:url(../img/te-header-bg.gif) repeat-x; padding-top:1px}
.traba-tiny-header select {float:left; margin-top:5px}
.traba-tiny-font {margin-left:12px}
.traba-tiny-size {margin:0 3px}
.traba-tiny-style {margin-right:12px}
.traba-tiny-divider {float:left; width:1px; height:30px; background:#ccc}
.traba-tiny-control {float:left; width:34px; height:30px; cursor:pointer; background-image:url(../img/te-icons.png)}
.traba-tiny-control:hover {background-color:#fff; background-position:30px 0}
.traba-tiny-footer {height:32px; border-top:1px solid #bbb; background:#f5f5f5}